
<table class="tx-ecomglossary" >
	<tr>
		<td>
			<f:translate key="tx_ecomglossary_domain_model_term.title" />
		</td>
		<td>
		{term.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomglossary_domain_model_term.term_type" />
		</td>
		<td>
		{term.termType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomglossary_domain_model_term.short_description" />
		</td>
		<td>
		{term.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomglossary_domain_model_term.description" />
		</td>
		<td>
		{term.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomglossary_domain_model_term.external_link" />
		</td>
		<td>
		{term.externalLink}
		</td>
	</tr>
</table>