{namespace ecomvh=Ecom\Ecomglossary\ViewHelpers}
<article>
	<header>
		<h2>{term.title}</h2>
		<f:if condition="{term.termType}">
			<span><strong><f:translate key="tx_ecomglossary_domain_model_term.term_type" />: </strong><f:translate key="tx_ecomglossary_domain_model_term.term_type.{term.termType}" /></span>
		</f:if>
	</header>
	<hr>
	<div class="tx_ecomglossary-term-description">
		{term.description}
	</div>
	<f:if condition="{term.sources}">
		<hr>
		<div class="tx_ecomglossary-term-sources">
			<p><strong><f:translate key="tx_ecomglossary_domain_model_term.sources" /></strong></p>
			<ul class="list">
				<f:for each="{term.sources -> ecomvh:utility.explode(delimiter:'\n')}" as="source">
					<li><ecomvh:link.typolink configuration="{parameter: source}" /></li>
				</f:for>
			</ul>
		</div>
	</f:if>
</article>