{namespace ecomvh=Ecom\Ecomglossary\ViewHelpers}
<article>
	<header>
		<h1>{term.title}</h1>
		<f:if condition="{term.termType}">
			<span><strong><f:translate key="tx_ecomglossary_domain_model_term.term_type" />: </strong><f:translate key="tx_ecomglossary_domain_model_term.term_type.{term.termType}" /></span>
		</f:if>
	</header>
	<hr>
	<div class="tx_ecomglossary-term-description">
		{term.description}
	</div>
	<hr>
	<div class="tx_ecomglossary-term-sources">
		<p><f:translate key="tx_ecomglossary_domain_model_term.sources" /></p>
		<f:if condition="{term.sources}">
			<ul class="list">
				<f:for each="{term.sources -> ecomvh:utility.explode(delimiter:'\n')}" as="source">
					<li><ecomvh:link.typolink configuration="{parameter: source}" /></li>
				</f:for>
			</ul>
		</f:if>
	</div>
</article>