<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" />

	<f:debug>{_all}</f:debug>
	<div class="tx_ecomglossary-list-view">

		<div class="tx_ecomglossary-header">
			<f:form id="tx_ecomglossary-searchform" method="POST" noCacheHash="true" noCache="true">
				<div>
					<f:form.textfield type="search" name="searchTerm" id="tx_ecomglossary-searchTerm" placeholder="Enter your search term..." value="{searchTerm}"/>
					<f:form.submit class="btn submit" value="Search" />
				</div>
			</f:form>
			<f:if condition="{letterList}">
				<div class="tx_ecomglossary-letter-navigation">
					<span class="tx_ecomglossary-letter-navigation-label">Filter terms by character:</span>
					<br>
					<f:for each="{letterList}" as="letter">
						<f:link.action action="list" arguments="{filterByLetter:letter}" noCacheHash="true" noCache="true">{letter}</f:link.action>
					</f:for>
					<div class="tx_ecomglossary-view-all-btn">
						<f:link.action action="list" class="btn" noCacheHash="true" noCache="true">Show all entries</f:link.action>
					</div>
				</div>
			</f:if>
		</div>
		<hr>
		<f:if condition="{terms->f:count()} > 0">
			<f:then>
				<div class="tx_ecomglossary-term-listing">
					<f:widget.paginate objects="{terms}" as="paginatedTerms" configuration="{itemsPerPage: settings.termsPerPage, insertAbove: 1, insertBelow: 0}">
						<ul>
							<f:for each="{paginatedTerms}" as="term">
								<li>
									<f:link.action action="show" arguments="{term : term}"> {term.title}</f:link.action>
									<f:link.action action="show" arguments="{term : term}"> {term.termType}</f:link.action>
									<f:link.action action="show" arguments="{term : term}"> {term.shortDescription}</f:link.action>
									<f:link.action action="show" arguments="{term : term}"> {term.externalLink}</f:link.action>
								</li>
							</f:for>
						</ul>
					</f:widget.paginate>
				</div>
			</f:then>
			<f:else>
				<f:link.action action="list" class="btn" noCache="true" noCacheHash="true">Show all entries</f:link.action>
			</f:else>
		</f:if>
	</div>

</f:section>