<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" />

	<div class="tx_ecomglossary-show-view">
		<f:render partial="Term/Properties" arguments="{term:term}" />
		<a href="javascript:history.back();" class="morelink-btn"><i class="fa fa-angle-left"></i> <f:translate key="back" /></a>
		<f:link.action action="list" arguments="{resetFilter:1}" class="morelink-btn"><i class="fa fa-align-left"></i> <f:translate key="showAllEntries" /></f:link.action>
	</div>
</f:section>